p { 
  font-family: Helvetica, Arial, sans-serif;
  color: #d0d0ee;
}
h1 { 
  font-family: Helvetica, Arial, sans-serif;
  color: white; 
}
h2 { 
  font-family: Helvetica, Arial, sans-serif;
  color: white; 
}
td {
  vertical-align: top;
}
body {
  background-color: #180c24;
  /* background-color: #301848; */
}
