p { 
  font-family: Helvetica, Arial, sans-serif;
  /* color: #eedda0; */ /* Yellow */
  color: #eeeed0; /* Light Yellow */
  /* color: #d0d0ee; */ /* Light Purple */
}
h1 { 
  font-family: Helvetica, Arial, sans-serif;
  color: #d0b04a; /* Tarnished Brass */
  /* color: #ddcc60; */ /* Brass */
  /* color: #eedda0; */ /* Yellow */
}
h2 { 
  font-family: Helvetica, Arial, sans-serif;
  color: #ddbb60; /* Brass */
  /* color: #eedda0; */ /* Yellow */
}
a { 
  font-family: Helvetica, Arial, sans-serif;
}
td {
  vertical-align: top;
}
body {
  background-color: #0c241b; /* Greener Depths */
  /* background-color: #0c2420; */ /* Deep Green */
  /* background-color: #180c24; */ /* Deep Purple */
  /* background-color: #301848; */ /* Purple */
}
