p { 
  font-family: Arial, Helvetica, sans-serif;
  color: #eeeeee; 
}
h1 { 
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}
h2 { 
  font-family: Arial, Helvetica, sans-serif;
  color: white; 
}
td {
  vertical-align: top;
}
body {
  background-color: black;
}
